@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import '../node_modules/normalize.css/normalize.css';

html {
  font-family: 'Righteous', cursive;
  background: #212121;
  font-size: 62.5%;

  background: url(../game/assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
